.draggable-type {
    padding: 8px 16px;
    background-color: aqua;
    border: 2px solid #000;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    cursor: grab;
    margin: 0px 5px;
    text-align: center;
}


.draggable-type.dragging {
    opacity: 0;
}