.draggable-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 2px solid #000;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    cursor: grab;
    margin: 0px 3px;
    padding: 0.75rem 3rem 0.75rem 0.75rem;
    border-radius: 30px;
    position: relative;
}

.draggable-type.unselected {
    padding: 0.75rem;
}


.draggable-type.dragging {
    opacity: 0;
}

.draggable-type .multiplier-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 0.15rem;
    transform: translateY(-50%);
}