.draggable-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: aqua;
    border: 2px solid #000;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    cursor: grab;
    margin: 0px 3px;
}


.draggable-type.dragging {
    opacity: 0;
}