DYNAMODB_TABLE_NAME_POKEMON=YourPokemonTableName
DYNAMODB_TABLE_NAME_TYPES=YourTypesTableName
PORT=80
AWS_ACCESS_KEY_ID = YourAWSAccessKeyId
AWS_SECRET_ACCESS_KEY = YourAWSSecretAccessKey

// Pokemon Data from PokeAPI (https://pokeapi.co/)

// Table Name: pokemon (https://pokeapi.co/docs/v2#pokemon)
// pokemon Schema
// - id (number, partition key)
// - name (string)
// - type (string)

// Table Name: types (https://pokeapi.co/docs/v2#types)
// types Schema
// - name (string, partition key)
// - id (number)
// - damage_relations (map)
