DYNAMODB_TABLE_NAME_POKEMON=YourPokemonTableName
DYNAMODB_TABLE_NAME_TYPES=YourTypesTableName
PORT=80
AWS_ACCESS_KEY_ID = YourAWSAccessKeyId
AWS_SECRET_ACCESS_KEY = YourAWSSecretAccessKey
AWS_REGION = YourAWSRegion-WhereYourTablesAreLocated

// Name your .env file .env.backend
// This .env file is for Docker compose to set environment variables for the backend service.
// It should be placed in the root directory of the project
// Docker will automatically load it when building and running the backend container.


// Pokemon Data from PokeAPI (https://pokeapi.co/)

// Table Name: pokemon (https://pokeapi.co/docs/v2#pokemon)
// pokemon Schema
// - id (number, partition key)
// - name (string)
// - type (string)

// Table Name: types (https://pokeapi.co/docs/v2#types)
// types Schema
// - name (string, partition key)
// - id (number)
// - damage_relations (map)


