.damage-relations-container {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;

}

.single-type-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

.dual-type-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

.toggles-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.random-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    margin: 0 10px;
}

.type-mode-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    margin: 0 10px;
}


.submit-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 10px 10px;
    white-space: nowrap;
}

.submit-button-container button:focus {
    outline: none;
}