.header {
  border-bottom: white solid 1px;
  padding: 10px 10px;
  min-height: 80px;
}


.header .nav-brand {
  position: absolute;
  font: bold;
  text-shadow: 0px 0px 5px #ECBB4A;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
}

.header .nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}