.quiz-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgb(45, 46, 46);
    border-bottom: #FFFFFF solid 1px;
}

.quiz-header-container .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.quiz-header-container .row {
    margin-left: 0;
    margin-right: 0;
}

.quiz-header-container .row>[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.quiz-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: rgb(46, 75, 46); */
    padding: 10px;
    position: relative;
}

.quiz-info h5 {
    margin: 0;
    padding: 0;
}

.quiz-info p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    white-space: nowrap;
}

.quiz-info p.label {
    font-weight: bold;
}

.quiz-info span {
    font-weight: normal;
    display: inline;
}

.quiz-info hr {
    width: 50%;
    margin: 5px 0px;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.quiz-info button {
    background: linear-gradient(270deg, #813e3e, #c2c066, #000000);
    background-size: 600% 600%;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1.1rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px #000000;
    transition: transform 0.2s ease-in-out;
    animation: gradientBackground 8s ease infinite;
}

.quiz-info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quiz-info button:hover {
    transform: scale(1.05);
}

.quiz-info button:active {
    transform: scale(0.98);
}