.quiz-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgb(45, 46, 46);
    border-bottom: #FFFFFF solid 1px;
}

.quiz-header-container .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.quiz-header-container .row {
    margin-left: 0;
    margin-right: 0;
}

.quiz-header-container .row>[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.quiz-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative;
}

.quiz-info h5 {
    margin: 0;
    padding: 0;
}

.quiz-info p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    white-space: nowrap;
}

.quiz-info p.label {
    font-weight: bold;
}

.quiz-info span {
    font-weight: normal;
    display: inline;
}

.quiz-info hr {
    width: 50%;
    margin: 5px 0px;
}

.quiz-info button {
    color: #FFFFFF;
    border-radius: 30px;
    padding: 0.5rem 1.1rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px #000000;
}

.btn.randomize-button {
    background-color: rgb(90, 17, 17);
    border: 1.5px solid rgb(194, 37, 37);
}

.btn.randomize-button:hover {
    background-color: rgb(63, 12, 12);
    border: 1.5px solid rgb(136, 26, 26);
}

.btn.randomize-button:active,
.btn.randomize-button:active:focus,
.btn.randomize-button:active:focus-visible {
    background-color: rgb(63, 12, 12);
    border: 1.5px solid rgb(136, 26, 26);
}

.btn.reselect-button {
    background-color: rgb(17, 90, 17);
    border: 1.5px solid rgb(37, 194, 37);
}

.btn.reselect-button:hover {
    background-color: rgb(12, 63, 12);
    border: 1.5px solid rgb(26, 136, 26);
}

.btn.reselect-button:active,
.btn.reselect-button:active:focus,
.btn.reselect-button:active:focus-visible {
    background-color: rgb(12, 63, 12);
    border: 1.5px solid rgb(26, 136, 26);
}

.btn.how-to-play-button {
    background-color: rgb(17, 17, 90);
    border: 1.5px solid rgb(37, 37, 194);
}

.btn.how-to-play-button:hover {
    background-color: rgb(12, 12, 63);
    border: 1.5px solid rgb(26, 26, 136);
}

.btn.how-to-play-button:active,
.btn.how-to-play-button:active:focus,
.btn.how-to-play-button:active:focus-visible {
    background-color: rgb(12, 12, 63);
    border: 1.5px solid rgb(26, 26, 136);
}

.quiz-info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quiz-info button:hover {
    transform: scale(1.10);
}

.quiz-info button:active {
    transform: scale(0.95);
}